.topnav {
  overflow: hidden;
  background-color: transparent;
}

.topnav h1 {
  float: left;
  color: #ffffff;
  text-align: center;
  margin-left: 20px;
  /* padding: 14px 16px; */
  font-size: 23px;
}

.topnav-right {
  float: right;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  border-radius: 30px;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #1cb5c5;
  color: white;
}



.four_col {
  float: left;
  width: 25.00%;
  margin:0 auto;
}

.three_col {
  float: left;
  width: 33.33%;
  margin:0 auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  display: -ms-flex; display: -webkit-flex; display: flex;
  align-items: center;
  justify-content: center;
}


p {
  text-align: center;
  margin: auto;
  font-size: 20;
}


body {
  background-color: rgb(26, 26, 26);
  color: white;
  font-family: Consolas,monaco,monospace;
  cursor: none;
}

#welcome {
  opacity: 1;
  animation: floatup 2s;
  animation-timing-function: ease;
  text-align: center;
}


@keyframes floatup {
  from {bottom: -100px;}
  to {bottom: 0px;}
}


.cursor {
  width: 2rem;
  height: 2rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: "white";
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: blur(3px);
  z-index: 100;
  overflow: hidden;
}

a {
  cursor: none;
}

/* canvas {
  cursor: crosshair;
} */


.link-grow {
  transform: scale(2);
  backdrop-filter: none;
}


.link-grow-invert {
  transform: scale(1.5);
  backdrop-filter: invert() drop-shadow(4px 4px 10px rgb(0, 0, 0));
  /* background:rgb(255, 255, 255); */
}


.pulsating-circle {
  left: 50%;
  top: 50%;
  overflow: visible;
}

.pulsating-circle::before {
    content: '';
    /* position: relative; */
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 50%;
    background-color: #01a4e9;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

/* .pulsating-circle::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
} */


@keyframes pulse-ring {
  0% {
    transform: scale(.33);
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}


.button-link {
  z-index: 10;
  position: relative;
  color: white;
  background-color: black;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid white;
  border-radius: 1000px;
  padding: 10px 20px;
  margin-left: 40px;
  margin-top: 10px;
  box-shadow: 0 2px 5px 0 rgba(3,6,26,0.15);
  transition: .5s all ease-in-out;
}

.button-link:hover {
  cursor: pointer;
  background: white;
  color: #1F4141;
  animation: none;
}

.button-wiggle {
  animation: wiggle 4s 2s infinite;
}

@keyframes wiggle {
	5%,
	50% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.9);
	}
	15% {
		transform: scale(1.15);
	}
	20% {
		transform: scale(1.15) rotate(-5deg);
	}
	25% {
		transform: scale(1.15) rotate(5deg);
	}
	30% {
		transform: scale(1.15) rotate(-3deg);
	}
	35% {
		transform: scale(1.15) rotate(2deg);
	}
	40% {
		transform: scale(1.15) rotate(0);
	}
}


#intro {
  min-width: 400px;
  max-width: 30%;
}
