section{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  
  z-index: -1;
}

#welcome-slide{
  padding-bottom: 50px;
  height: calc(100% - 30px);;
}
#nodes-slide{
  height: 100vh;
  padding-bottom: 50px;
}
#paint-slide{
  height: 100vh;
}



.grow {

}

.node:hover {
/* transform: scale(1.1); */
}

#all_nodes {
  position: relative;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.node {
    transition: all .2s ease-in-out;

    margin: auto;


    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;

    object-fit:cover;

    background-size:cover;
    background-position:center;


    border-style: solid;
    border-width: 10px;
    border-color: white;

    max-width: 10vw;
    max-height:16vh;
    min-width: 10vh;
    aspect-ratio: 1;

    display: inline-block;
    z-index: 0;
}

.node_div {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}

.node_headers{
  text-align: center;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s, visibility .5s;
  color:black;
  background-color:rgba(255, 255, 255, 0.5);
}

.node_div:hover .caption {
  visibility: visible;
  opacity: 1;
}
