{% include "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/node_style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/paint_style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/general_style.css') }}">
<body>

  <h1 id="title">About Me!</h1>


  <div class="card-media-wrapper" id="hackbu">
    <!-- <div class="date">
      <h1> HackBU 2021 </h1>
      <div class="github-div">
        <a href="https://github.com/afelsen/zooML-HackBU2021">
          <img src="static/images/GitHub-Mark-Light-120px-plus.png" class = "github"></img>
        </a>
        <p class="caption">View on GitHub</p>
      </div>
    </div> -->
    <div class="card">
      <div class="card-container">
        <h1> Hello! </h1>

        <p>

        I am a senior studying math and computer science at Binghamton University passionate about data science - specifically how large, complex datasets can be reduced to straightforward results. I am excited to play a part in the recent advancements in machine learning which hold the promise of solving and simplifying the most complicated problems of our world.
        <br><br>
        Most of my machine learning experience relates to computer vision, specifically image classification and segmentation. Over the past four years, I have been building neural networks using PyTorch and Tensorflow.
        <br><br>
        I enjoy teaching others, and I have been a TA for two research classes. Some of my interests also include 3D graphic design, frisbee golf, and intramural football.
        <br><br>
        </p>
      </div>
    </div>

    <div class="card-link" >
      <img src=static/images/20210506_Felsen02_jwc_edited.jpg> </img>
      <a href="static/images/Adiel Felsen Resume.pdf" download="Adiel Felsen Resume.pdf" style="width:100%; display: flex; justify-content: center;"><img src=static/images/resume_white.png style="min-width: 100px; max-width: 100px;"> </img></a>
      <div style="width:100%"><p style="width: 150px"> Download My Resume </p></div>
    </div>
  </div>
{% endblock %}
