{% include "base.html" %}
{% block content %}

<div class = background>

  <h1 id="title">About Me</h1>


  <div class="card-media-wrapper" id="hackbu">
    <!-- <div class="date">
      <h1> HackBU 2021 </h1>
      <div class="github-div">
        <a href="https://github.com/afelsen/zooML-HackBU2021">
          <img src="static/images/GitHub-Mark-Light-120px-plus.png" class = "github"></img>
        </a>
        <p class="caption">View on GitHub</p>
      </div>
    </div> -->
    <div class="card">
      <div class="card-container">
        <h1> Hello! </h1>

        <p>

        I am a M.S. in machine learning student at Carnegie Mellon University passionate about intellegent systems - specifically how large, complex data can be reduced to straightforward predictions. I am excited to play a part in the recent advancements in machine learning which hold the promise of solving and simplifying the most complicated problems of our world.
        <br><br>
        Much of my machine learning experience relates to computer vision including gaze detection, object recognition, and image classification. My main goal is to learn, experiment, and challenge myself with interesting and impactful projects.
        <br><br>
        Some of my interests also include biking, hiking, bouldering, and 3D graphic design. 
        <br><br>
        </p>
      </div>
    </div>

    <div class="card-link" >
      <img src=static/images/20210506_Felsen02_jwc_edited.jpg> </img>
      <a href="static/images/Adiel Felsen Resume.pdf" download="Adiel Felsen Resume.pdf" style="width:100%; display: flex; justify-content: center;"><img src=static/images/icons/resume_white.png class = "resume-icon" style="min-width: 100px; max-width: 100px;"> </img></a>
      <div style="width:100%"><p style="width: 150px"> Download My Resume </p></div>
    </div>
  </div>

</div>
{% endblock %}
