{% include "base.html" %}
{% block content %}

<div class = "background">
  <h2 id="title">Education</h2>

  <div class="card-media-wrapper" id="cmu-edu">
    <div class="date">
      <h1> 2022-Present </h1>
    </div>
    <div class="card">
      <div class="card-container">
        <h1> Carnegie Mellon University </h1>
        <p>
        <span style="color:#1cb5c5"><b> Master of Science in Machine Learning</b></span>, School of Computer Science
        </p>
      </div>
    </div>

    <div class="card-link">
      <a href="static/images/CMU-sign.jpeg" data-lightbox="CMU" data-title="Carnegie Mellon University"><img src=static/images/CMU-sign.jpeg> </img></a>
    </div>
  </div>

  <div class="card-media-wrapper" id="binghamton-edu">
    <div class="date">
      <h1> 2018-2022 </h1>
    </div>
    <div class="card">
      <div class="card-container">
        <h1> Binghamton University </h1>
        <p>
        • <span style="color:#1cb5c5"><b> Bachelor of Science in Computer Science</b></span>, Thomas J. Watson College of Engineering and Applied Science
        <br>
        • <span style="color:#1cb5c5"> <b> Bachelor of Arts in Mathematics</b> </span>, Harpur College of Arts and Sciences
        <br><br>
        Member of the University Scholars Program, a selective, all-University, four-year honors program for students of exceptional merit.
        </p>
      </div>
    </div>

    <div class="card-link">
      <a href="static/images/binghamton.jpg" data-lightbox="binghamton" data-title="Photo of the class of 2022 from freshman year! I'm somewhere in there..."><img src=static/images/binghamton.jpg> </img></a>
    </div>
  </div>

</div>
{% endblock %}
