<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/mystyle.css">
</head>
<body>

  <h1>Adiel Felsen</h1>

  <p>Welcome to my website!</p>

  <div class="row">
    <div class="column"></div>
    <div class="column">
      <img src = "./static/grid_4_edited.jpg" class = "node grow col1"></img>
      <br>
      <img src = "./static/grid_4_edited.jpg" class = "node grow col1"></img>
      <br>
      <img src = "./static/grid_4_edited.jpg" class = "node grow col1"></img>
    </div>
    <div class="column">
      <img src = "./static/grid_4_edited.jpg" class = "node grow col2"></img>
      <br>
      <img src = "./static/grid_4_edited.jpg" class = "node grow col2"></img>
      <br>
      <img src = "./static/grid_4_edited.jpg" class = "node grow col2"></img>
      <br>
      <img src = "./static/grid_4_edited.jpg" class = "node grow col2"></img>
    </div>
    <div class="column"></div>

    <div class="column"></div>
  </div>


</body>
</html>
