{% include "base.html" %}
{% block content %}
<div class = "background">
  <h1 id="title">Learn More About the Paint App</h1>

  <div class="card-media-wrapper" id="hackbu">
    <!-- <div class="date">
      <h1> UNDER CONSTRUCTION </h1>
    </div> -->
    <div class="card">
      <div class="card-container">
        <!-- <h1> UNDER CONSTRUCTION </h1> -->

        <p>

        I made this demo using Google's <a href="https://quickdraw.withgoogle.com/data"><span style="color: #ffd139" id="these">Quick, Draw!</span></a> dataset.

        <br><br>

        I use a custom <a href="https://pytorch.org/"><span style="color: #ee4c2c" id="these">PyTorch</span></a> convolutional neural network to classify drawing. The network is trained on hundreds of thousands of 64x64 hand-drawn doodle from Quick, Draw! dataset. After drawing a doodle, the image is sent Flask, decoded and classified through a previously-trained model.

        <br><br>

        The website is built using Flask, hosted using Amazon Web Services. The code for this website can be found at <a href="https://github.com/afelsen/my-website">GitHub</a>.

        <br><br>

        Try out the bonus demo below!

        </p>
      </div>
    </div>

    <div class="card-link">
      <!-- <a href="static/images/zooML.png" data-lightbox="zooml" data-title="ZooML demo"><img src=static/images/zooML.png> </img></a> -->
    </div>
  </div>


  <!-- BONUS DEMO -->

  <div class="row" style="justify-content: left;">
    <h2 style="z-index: 2; margin-top: 50px; margin-bottom: 50px;"> BONUS DEMO: <span class='rainbow_text'>Change the theme </span> by drawing a dooodle </h2>
  </div>

  <div class="row">
  <div id="pencil_icon"><img id="pencil_icon_img" src = "./static/images/icons/pencil_1_color.png"></img></div>
  <div class="drawing-table-wrapper">
    <div class="probabilities-wrapper drawing-item">
          <ul id="probabilities">
            <li class="sun" data-pos="0" >
              <div class="prob-item-wrapper">
                <img src = ./static/images/icons/sun.png class="prob-icon"></img>
                <div class="prob-item-a">
                  <b>Light Theme</b>: Doodle a <br><span style="color: #f9cc38; font-size: 20px"><b>sun</b></span>
                </div>
                <div class="prob-item-b">

                </div>
              </div>
            </li>
            <li class="moon" data-pos="2" >
              <div class="prob-item-wrapper">
                <img src = ./static/images/icons/moon.png class="prob-icon"></img>
                <div class="prob-item-a">
                  <b>Dark Theme (default)</b>: Doodle a <br><span style="color: #f9cc38; font-size: 20px"><b>moon</b></span>
                </div>
                <div class="prob-item-b">

                </div>
              </div>
            </li>
            <!-- <li class="research" data-pos="2" >Brain - Research:</li> -->
            <li class="rainbow" data-pos="3" >
              <div class="prob-item-wrapper">
                <img src = ./static/images/icons/rainbow.png class="prob-icon"></img>
                <div class="prob-item-a">
                  <b>Rainbow Theme</b>: Doodle a <br><span style="color: #f9cc38; font-size: 20px"><b>rainbow</b></span>
                </div>
                <div class="prob-item-b">

                </div>
              </div>
            </li>
            <!-- <li class="about" data-pos="4" >
              <div class="prob-item-wrapper">
                <img src = ./static/images/icons/face_1_color.png class="prob-icon"></img>
                <div class="prob-item-a">
                  <b>About</b>: Doodle a <br><span style="color: #f9cc38; font-size: 20px"><b>face</b></span>
                </div>
                <div class="prob-item-b">

                </div>
              </div>
            </li>
            <li class="contact" data-pos="5" >
              <div class="prob-item-wrapper">
                <img src = ./static/images/icons/envelope_1_color.png class="prob-icon"></img>
                <div class="prob-item-a">
                  <b>Contact</b>: Doodle an <br><span style="color: #f9cc38; font-size: 20px"><b>envelope</b></span>
                </div>
                <div class="prob-item-b">

                </div>
              </div>
            </li> -->
          </ul>
      </div>

        <div class="canvas-wrapper drawing-item">
            <canvas id="paint" width="512" height="512" style="border: 1px solid #ffffff;"></canvas>

            <fieldset id="toolset">
              <br>
              <br>
              <button id="penciltool" type="button" style="height: 50px; width: 50px;" onclick="pencil()"><img style="height: 35px; width: 35px;" src = ./static/images/icons/pencil_1_color.png></img></button>
              <br>
              <br>
              <br>
              <button id="erasertool" type="button" style="height: 50px; width: 50px;" onclick="eraser()"><img style="height: 35px; width: 35px;" src = ./static/images/icons/eraser_color.png></img></button>
              <br>
              <br>
              <br>
              <button id="resettool" type="button" style="height: 50px; width: 50px;" onclick="reset()">Reset</button>
            </fieldset>
        </div>

      </div>
  </div>
  <script src=" {{ url_for('static', filename='scripts/paint.js') }}"></script>
  <script src=" {{ url_for('static', filename='scripts/learn_more.js') }}"></script>

</div>
{% endblock %}
