{% include "base.html" %}
{% block content %}
  <h1 id="title">Learn More About the Paint App</h1>

  <div class="card-media-wrapper" id="hackbu">
    <div class="date">
      <h1> UNDER CONSTRUCTION </h1>
    </div>
    <div class="card">
      <div class="card-container">
        <h1> UNDER CONSTRUCTION </h1>

        <p>
        UNDER CONSTRUCTION
        </p>
      </div>
    </div>

    <div class="card-link">
      <!-- <a href="static/images/zooML.png" data-lightbox="zooml" data-title="ZooML demo"><img src=static/images/zooML.png> </img></a> -->
    </div>
  </div>

{% endblock %}
