{% include "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/node_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/paint_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/general_style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    <body onload="pencil()">

        <h1 id = "welcome" class = "revealup" style="font-size: 75"> Welcome! </h1>

        <div class="row">
          <div class="column three_col">&nbsp</div>
          <div class="column three_col">
            <p> I am a <span style="color: #1cb5c5">computer science</span> and <span style="color: #1cb5c5">mathematics</span> 
              student passionate about Machine Learning and Big Data. <br>  
              I am excited to play a part in the recent advancements in machine learning which hold the promise of 
              solving and simplifying the most complex problems of our world.
            </p>
          </div>
          <div class="column three_col">&nbsp</div>
        </div>              
       
        <div class="row">
          <div class="column four_col node_headers"><h2>Education</h2></div>
          <div class="column four_col node_headers"><h2>Research and Internships</h2></div>
          <div class="column four_col node_headers"><h2>Projects</h2></div>
          <div class="column four_col node_headers"><h2>About Me!</h2></div>
        </div>
        <div class="row" id = "all_nodes">
          
          <div class="column four_col vertical-center" id = "col1">
            <div class="node_div">
              <a href="{{url_for('education')}}">
                <img src = "./static/images/binghamton_logo.png" class = "node grow"></img>
              </a>
              <p class="caption">Binghamton University</p>
            </div>
          </div>
          <div class="column four_col" id = "col2">
            
            <div class="node_div">
              <a href="{{url_for('research_internships')}}">
                <img src = "./static/images/u87-3b_0364_prism+jet.png" class = "node grow"></img>
              </a>
              <p class="caption">Biomedical Machine Learning Research</p>
              <br>
            </div>
            <div class="node_div">
              <a href="{{url_for('research_internships')}}">
                <img src = "./static/images/grid_4_edited.jpg" class = "node grow"></img>
              </a>
              <p class="caption">Mars Inc. Internship</p>
              <br>
            </div>
            <div class="node_div">
              <a href="{{url_for('research_internships')}}">
                <img src = "./static/images/FRI.png" class = "node grow"></img>
              </a>
              <p class="caption">FRI Research Program</p>
            </div>
          </div>
          <div class="column four_col" id = "col3">
            
            <div class="node_div">
              <a href="{{url_for('projects')}}">
                <img src = "./static/grid_4_edited.jpg" class = "node grow"></img>
              </a>
              <br>
            </div>
          
            <div class="node_div">
              <a href="{{url_for('projects')}}">
                <img src = "./static/grid_4_edited.jpg" class = "node grow"></img>
              </a>
              <br>
            </div>
            <div class="node_div">
              <a href="{{url_for('projects')}}">
                <img src = "./static/grid_4_edited.jpg" class = "node grow"></img>
              </a>
            </div>
          </div>

          <div class="column four_col vertical-center" id = "col4">
            <div class="node_div">
              <a href="{{url_for('projects')}}">
                <img src = "./static/grid_4_edited.jpg" class = "node grow"></img>
              </a>
            </div>
          </div>
        </div>

        
          <div class="row">
            <h2 id="title">Paint App</h2>
            <div id="pencil_icon"><img id="pencil_icon_img" src = "./static/images/pencil_1_a.png"></img></div>
            <p><table>
                <tr>
                <td>
                    <fieldset id="toolset">
                    <br>
                    <br>
                    <button id="penciltool" type="button" style="height: 50px; width: 50px;" onclick="pencil()"><img style="height: 35px; width: 35px;" src = ./static/images/pencil_1_a.png></img></button>
                    <br>
                    <br>
                    <br>
                    <button id="erasertool" type="button" style="height: 50px; width: 50px;" onclick="eraser()"><img style="height: 35px; width: 35px;" src = ./static/images/eraser_1_a.png></img></button>
                    <br>
                    <br>
                    <br>
                    <button id="resettool" type="button" style="height: 50px; width: 50px;" onclick="reset()">Reset</button>
                    </fieldset>
                </td>
                <td>
                    <canvas id="paint" width="512" height="512" style="border: 1px solid #ffffff;"></canvas>
                </td>
                </tr>
            </table></p>
              <fieldset id="colorset">
                <p id="prediction">Prediction: {{prediction}}</p>
                <ul id="probabilities">
                  <li class="education" data-pos="1" >
                    <div class="prob-item-wrapper"> 
                      <div class="prob-item">
                        Book - Education: 
                      </div>
                      <div class="prob-item">
                        
                      </div>
                    </div>
                  </li>
                  <li class="research" data-pos="2" >
                    <div class="prob-item-wrapper"> 
                      <div class="prob-item">
                        Brain - Research and Internships: 
                      </div>
                      <div class="prob-item">

                      </div>
                    </div>
                  </li>
                  <!-- <li class="research" data-pos="2" >Brain - Research:</li> -->
                  <li class="projects" data-pos="3" >
                    <div class="prob-item-wrapper"> 
                      <div class="prob-item">
                        Computer - Projects: 
                      </div>
                      <div class="prob-item">

                      </div>
                    </div>
                  </li>
                  <li class="about" data-pos="4" >
                    <div class="prob-item-wrapper"> 
                      <div class="prob-item">
                        Face - About Me:
                      </div>
                      <div class="prob-item">

                      </div>
                    </div>
                  </li>
                  <li class="contact" data-pos="5" >
                    <div class="prob-item-wrapper"> 
                      <div class="prob-item">
                        Envelope - Contact Me:
                      </div>
                      <div class="prob-item">

                      </div>
                    </div>
                  </li>
                </ul>
                <a href="{{url_for('go_to_prediction')}}"><button id="go"><h3 id="gotext">Navigate!</h3></button></a>
              </fieldset>
            </p>
    
          </div>

          

        <script src="{{ url_for('static', filename='scripts/general.js') }}"></script>
        <script src=" {{ url_for('static', filename='scripts/nodes.js') }}"></script>
        <script src=" {{ url_for('static', filename='scripts/paint.js') }}"></script>

        
{% endblock %}
