{% include "base.html" %}
{% block content %}
<div class = "background">
  <h1 id="title">Research & Internships</h1>

  <div class="card-media-wrapper" id="Rivian-internship">
    <div class="date" style="background-image: url('static/images/Rivian-R1T-desert.jpeg'); background-size: cover; border-radius: 20px;">
      <h1 style="color: white"> May 2023 - Present </h1>
    </div>
    <div class="card">
      <div class="card-container">
        <h1> Rivian Internship </h1>
        <p>
            This summer I am working as a deep learning and computer vision intern on Rivian's Advanced Driver Assistance Systems team. 
        </p>
      </div>
    </div>

    <div class="card-link">
        
    </div>

  </div>



  <div class="card-media-wrapper" id="NASA-internship">
    <div class="date">
      <h1> June 2022 - August 2022 </h1>
    </div>
    <div class="card">
      <div class="card-container">
        <h1> <span style="font-family: nasalization">NASA Internship </span> </h1>
        <p>
        Methane - a chemical resposible for 20-30% of global warming - is increasing in our atmosphere at an accelerating rate. The hydroxyl radical (OH) is a major methane sink, but its volitility makes it difficult to accurately measure.  
        <br><br>
        This summer I utilized machine learning to improve detection of OH in the atmosphere. I leveraged artificial data from the GEOS model to predict OH concentrations from in-situ aircraft campaigns. I explored boosted decision trees and neural networks and analyzed their performance, reliability, and explainability.
        My mentor was Dr. Julie Nicely and my co-mentor was Dr. Bryan Duncan.
        <br><br>
        Learn more from my poster.
        </p>
      </div>
    </div>

    <div class="card-link">
      <div class="card-link">
        <a href="static/images/Felsen_Predicting_OH_Measurements_from_In-Situ_Aircraft_Campaigns_Using_Machine_Learning_GSFC.pdf" download="Felsen_Predicting_OH_Measurements_from_In-Situ_Aircraft_Campaigns_Using_Machine_Learning_GSFC.pdf">
          <img src=static/images/icons/NASA-download.png style="min-width: 300px; max-width: 300px;"> </img>
        </a>
      </div>
    </div>
  </div>

  <div class="card-media-wrapper" id="cells" style="background-image: url('static/images/My Movie (small).gif'); background-size: cover;">
    <div class="date">
      <h1 style="color: white"> May 2019 - Present </h1>
    </div>
    <div class="card">
      <div class="card-container">
        <h1> Cell Nuclei Segmentation </h1>

        <p> I worked on cell nuclei segmentation research with Professor Kenneth Chiu of the Computer Science department and Professor Frank Lu of the Biomedical Engineering Department at Binghamton University. For this research I use PyTorch to optimize instance and semantic segmentation neural networks.
        <br><br>
        In the summer of 2021 we published a translational biology poster at the Knowledge Guided Machine Learning Workshop (KGML2021) at the University of Minnesota. In December 2021, we published two paper-posters at the IEEE International Conference on Big Data (IEEE BigData).
        </p>
      </div>
    </div>

    <div class="card-link">
      <div style="width:100%; margin-bottom:50px;">
        <a href="static/images/u87-3b_0364_prism+jet.png" data-lightbox="cells" data-title="Featured Image at Binghamton University's Art of Science Competition"><img src=static/images/u87-3b_0364_prism+jet.png> </img></a>
        <a href="static/images/KGML Poster.png" data-lightbox="cells" data-title="Poster Presented at KGML2021"></a>
      </div>


      <div class="paper-div" style="margin-right:20px;">
        <a href="static/images/Cell Nuclei and Lipid Droplets Quantification in Stimulated Raman Images.pdf" download="Cell Nuclei and Lipid Droplets Quantification in Stimulated Raman Images.pdf">
          <img src=static/images/icons/download_document-white.png style="min-width: 150px; max-width: 150px;"> </img>
        </a>
        <p class="caption" style="font-size:18px;">Cell Nuclei and Lipid Droplets Quantification in Stimulated Raman Images</p>
      </div>

      <div class="paper-div">
        <a href="static/images/Deep Learning Techniques for Unmixing of Hyperspectral Stimulated Raman Scattering Images.pdf" download="Deep Learning Techniques for Unmixing of Hyperspectral Stimulated Raman Scattering Images.pdf">
          <img src=static/images/icons/download_document-white.png style="min-width: 150px; max-width: 150px;"> </img>
        </a>
        <p class="caption" style="font-size:18px;">Deep Learning Techniques for Unmixing of Hyperspectral Stimulated Raman Scattering Images</p>
      </div>

      <div style="width:100%"><p style="width: 300px"> Download Our Paper-Posters presented at IEEE BigData 2022 </p></div>
      <!-- <img src="static/images/KGML Poster.png"> </img> -->
      <!-- <img src=static/images/u87-3b_0364_prism+jet.png> </img> -->
    </div>
  </div>

  <div class="card-media-wrapper" id="mars">
    <div class="date" style="background-image: url('static/images/grid_4_edited.jpg'); background-size: cover; border-radius: 20px;">
      <h1 style="color: white"> May 2021 - August 2021 </h1>
    </div>
    <div class="card">
      <div class="card-container">
        <h1> M&M Printing Defect Detection </h1>

        <p> In the summer of 2021 I worked at Mars Inc. as a data science intern. Mars is known for its candy brands such as Snickers, Twix, and M&M'S, as well as petcare brands including Pedigree, Royal Canin, and Whiskas.
        <br><br>
        Over the 11 week internship, I developed a computer vision model to automatically detect printing defects on M&Ms. This can save many hours of manual quality control checks in the factory. Key accomplishments included the following:​ <br>
        • Implemented a robust method to detect M&Ms in an image. <br>
        • Trained a PyTorch CNN to classify defective M&M prints. <br>
        • Introduced a new capability for creating synthetic data. <br>
        • Created a website in Dash that allows factory workers to upload images and analyze proportions of defects.
        <br><br>
        I had a great summer applying cutting-edge technology and learning from experienced data scientists on the team.  I especially enjoyed having the freedom to find my own solutions to an important business problem. </p>

        <br><br>
      </div>
    </div>

    <div class="card-link">
      <a href="static/images/MM_timessquare.jpg" data-lightbox="mm" data-title="Picture I Took at the M&M Store in Times Square!"> <img src="static/images/MM_timessquare.jpg"> </img></a>
    </div>
  </div>

  <div class="card-media-wrapper" id="fri">
    <div class="date">
      <h1> August 2018 - May 2020 </h1>
    </div>
    <div class="card">
      <div class="card-container">
        <h1> Fatigue Detection Model </h1>

        <p> In this unique 3 semester program at Binghamton University, I conducted computer vision research with a team of 6 other students.
            <br><br>
            We identified a subject's drowsiness level by combining auxiliary features (blinking pattern, yawning, squinting) and deep features generated by a CNN.
            <br><br>
            In November 2019, we presented our findings to students, researchers, and faculty.
      </div>
    </div>

    <div class="card-link">
      <a href="static/images/FRI.png" data-lightbox="FRI" data-title="My Facial Landmarks Detected by OpenFace"> <img src="static/images/FRI.png"> </img></a>
    </div>
  </div>

</div>

{% endblock %}
