{% include "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/node_style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/paint_style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/general_style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/card_style.css') }}">
<link rel="stylesheet" href="static/stylesheets/lightbox.min.css"/>
<body>

  <h2 id="title">Research & Internships</h2>

  <div class="card-media-wrapper">
    <div class="date">
      <h1> May 2019 - Present </h1>
    </div>
    <div class="card">
      <div class="card-container">
        <h1> Cell Nuclei Segmentation </h1>

        <p> I am currently working on cell nuclei segmentation research with Professor Kenneth Chiu of the Computer Science department and Professor Frank Lu of the Biomedical Engineering Department at Binghamton University. For this research I use PyTorch to optimize instance and semantic segmentation neural networks.
        <br><br>
        This past summer we published a translational biology poster at the Knowledge Guided Machine Learning Workshop (KGML2021) at the University of Minnesota. In December 2021, we published two paper-posters at the IEEE International Conference on Big Data (IEEE BigData).
        </p>
      </div>
    </div>

    <div class="card-link">
      <a href="static/images/u87-3b_0364_prism+jet.png" data-lightbox="cells" data-title="Featured Image at Binghamton University's Art of Science Competition"><img src=static/images/u87-3b_0364_prism+jet.png> </img></a>
      <a href="static/images/KGML Poster.png" data-lightbox="cells" data-title="Poster Presented at KGML2021"></a>
      <!-- <img src="static/images/KGML Poster.png"> </img> -->
      <!-- <img src=static/images/u87-3b_0364_prism+jet.png> </img> -->
    </div>
  </div>

  <div class="card-media-wrapper">
    <div class="date">
      <h1> May 2021 - August 2021 </h1>
    </div>
    <div class="card">
      <div class="card-container">
        <h1> M&M Printing Defect Detection </h1>

        <p> This past summer I worked at Mars Inc. as a data science intern. Mars is known for its candy brands such as Snickers, Twix, and M&M'S, as well as petcare brands including Pedigree, Royal Canin, and Whiskas.
        <br><br>
        Over the 11 week internship, I developed a computer vision model to automatically detect printing defects on M&Ms. This can save many hours of manual quality control checks in the factory. Key accomplishments included the following:​ <br>
        • Implemented a robust method to detect M&Ms in an image. <br>
        • Trained a PyTorch CNN to classify defective M&M prints. <br>
        • Introduced a new capability for creating synthetic data. <br>
        • Created a website in Dash that allows factory workers to upload images and analyze proportions of defects.
        <br><br>
        I had a great summer applying cutting-edge technology and learning from experienced data scientists on the team.  I especially enjoyed having the freedom to find my own solutions to an important business problem. </p>

        <br><br>
      </div>
    </div>

    <div class="card-link">
      <a href="static/images/MM_timessquare.jpg" data-lightbox="mm" data-title="Picture I Took at the M&M Store in Times Square!"> <img src="static/images/MM_timessquare.jpg"> </img></a>
    </div>
  </div>

  <div class="card-media-wrapper">
    <div class="date">
      <h1> August 2018 - May 2020 </h1>
    </div>
    <div class="card">
      <div class="card-container">
        <h1> Fatigue Detection Model </h1>

        <p> In this unique 3 semester program at Binghamton University, I conducted computer vision research with a team of 6 other students.
            <br><br>
            We identified a subject's drowsiness level by combining auxiliary features (blinking pattern, yawning, squinting) and deep features generated by a CNN.
            <br><br>
            In November 2019, we presented our findings to students, researchers, and faculty.
      </div>
    </div>

    <div class="card-link">
      <a href="static/images/FRI.png" data-lightbox="FRI" data-title="My Facial Landmarks Detected by OpenFace"> <img src="static/images/FRI.png"> </img></a>
    </div>
  </div>


  <script src=" {{ url_for('static', filename='scripts/libraries/lightbox.min.js') }}"></script>
{% endblock %}
